<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login_in</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/bootstrapTheme.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/Login_in.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

</head>
<body>
    <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0 mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img style="filter:invert(100%)" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/null/external-log-outdoor-kiranshastry-lineal-kiranshastry.png"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
    
            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav me-auto position-relative" style="width:100%; font-size:20px">
                    
                       
                        @if (Login_in.Controllers.RegistrationController.userIsLoggedIn == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Registration" asp-action="LogIn">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Registration" asp-action="SignUp">Sign up</a>
                            </li>
                            <li class="nav-item position-absolute" style="right:0">
                                <a class="nav-link text-light" asp-controller="Registration" asp-action="LogIn"><i class="bi bi-person-circle"></i>Guest</a>
                            </li> 
                        }
                            
                        @if(Login_in.Controllers.RegistrationController.userIsLoggedIn == true)
                        {
                             <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Registration" asp-action="LogOut"><i class="bi bi-box-arrow-left"></i>Log out</a>
                             </li>
                             <li class="nav-item position-absolute" style="right:0">
                                <a class="nav-link text-light" asp-controller="Registration" asp-action="#">Hello, @Login_in.Controllers.RegistrationController.currentUser.UserName</a>
                            </li> 
                        }
                       
                </ul>
            </div>
        </div>
    </nav>

     
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Login_in
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
